<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1> Contact page</h1>
    <%= qs.name %>
    <form id="contat-form" method="POST" action="/contact">
      <label for="name">Name</label>
      <input type="text" name="name" value=""/>
        <label for="homeTown">Home Town</label>
        <input type="text" name="name" value=""/>
        <button type="submit" >Submit</button
    </form>

  </body>
</html>
