<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Node Tut</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="assets/style.css" rel="stylesheet">
    </head>
    <body>
      <% include partials/nav.ejs %>
    <h1>Welcome to the most awesome website</h1>

    <p> This is Arunesh</p>
    </body>
</html>
